<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>번호</th>
                <th>고객 고유번호(UID)</th>
                <th>성명</th>
                <th>소속(신분)</th>
                <th>선수금잔액</th>
                <th>기준일자</th>
                <th>선수금 변동치</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="customer, loop : ${paging}">
                <td th:text="${loop.count}"></td>
                <td>
                    <a th:href="@{|/customer/detail/${customer.customerId}|}" th:text="${customer.customerId}"></a>
                </td>
                <td th:text="${customer.customerName}"></td>
                <td th:text="${customer.customerJob}"></td>
                <td th:text="${customer.customerPaymentBalance}"></td>
                <td th:text="${#temporals.format(customer.customerDate,'yyyy-MM-dd HH:mm')}"></td>
                <td th:text="${customer.changePaymentBalance}"></td>
            </tr>
        </tbody>
    </table>
    <!-- 페이징처리 시작 -->
    <div th:if="${!paging.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link"
                   th:href="@{|?page=${paging.number-1}|}">
                    <span>이전</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                th:if="${page >= paging.number-5 and page <= paging.number+5}"
                th:classappend="${page == paging.number} ? 'active'"
                class="page-item">
                <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
            </li>
            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- 페이징처리 끝 -->
    <a th:href="@{/customer/create}" class="btn btn-primary">고객 등록하기</a>
</div>
</html>