<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>번호</th>
                <th>성명</th>
                <th>소속(신분)</th>
                <th>이월금액</th>
                <th>기준일자</th>
                <th>선수금 변동치</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="customer, loop : ${customerList}">
                <td th:text="${loop.count}"></td>
                <td th:text="${customer.customerName}"></td>
                <td th:text="${customer.customerJob}"></td>
                <td th:text="${customer.customerPaymentBalance}"></td>
                <td th:text="${customer.customerDate}"></td>
                <td th:text="${customer.changePaymentBalance}"></td>

            </tr>
        </tbody>
    </table>

    <form th:action="@{|/customer/create/${customerList.get(0).getCustomerId()}|}" method="post" class="my-3">
        <input name="changePaymentBalance" id="changePaymentBalance" class="form-control">
        <input type="submit" value="선수금 변동치 입력" class="btn btn-primary my-2">
    </form>
</div>
</html>