<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
    <h5 class="my-3 border-bottom pb-2">상품등록</h5>
    <form th:object="${goodsForm}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
        </div>
        <div class="mb-3">
            <label for="goodsName" class="form-label">상품명</label>
            <input type="text" th:field="*{goodsName}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="goodsCategory" class="form-label">항목</label>
            <input type="text" th:field="*{goodsCategory}" class="form-control">
        </div>
        <div>
            <label for="goodsIce">아이스</label>
            <input type="radio" th:field="*{goodsIce}" value="true"/>
            <label for="goodsIce">핫</label>
            <input type="radio" th:field="*{goodsIce}" value="false"/>
        </div>
        <div class="mb-3">
            <label for="goodsAmount" class="form-label">재고</label>
            <input type="text" th:field="*{goodsAmount}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="goodsPrice" class="form-label">단가</label>
            <input type="text" th:field="*{goodsPrice}" class="form-control">
        </div>
        <input type="submit" value="저장하기" class="btn btn-primary my-2">
    </form>
</div>
</html>